* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  margin: auto;
  display: block;
  width: 1170px;
  padding: 30px 50px;
  font-family: "Inter", sans-serif;
}
.section-title {
  font-size: 32px;
}
/* Header */
/* Banner */
#banner {
  position: relative;
  height: 300px;
}
#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Banner text */
.banner--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f8f9fa;
  font-size: 20px;
}

/*  Navigation */

/* Icon */
.icon--color {
  color: #4dabf7;
  height: 24px;
  width: 24px;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}
.nav-container a:hover,
.nav-container a:visited {
  color: #343a40;
}
/* Nav font */
.nav-container a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: ##343a40;
  font-weight: 500;
}
.nav-container span {
  color: #ced4da;
}
.nav-container h2 {
  font-size: 18px;
  color: #212529;
}

/* Main */
/* Infomation */
.infomation h1 {
  font-size: 24px;
  color: #868e96;
}
.infomation p {
  line-height: 1.6;
}

/* Job */
.kinhnghiem,
.hocvan,
.hoatdong,
.sothich,
.ngonngu,
.kynang {
  border: 2px solid #ced4da;
  padding: 30px;
}
.jobinfo1 span {
  width: 70px;
  text-align: center;
  display: inline-block;
  background-color: #4dabf7;
  color: #fff;
  border-radius: 5px;
}

.icon--hobby {
  display: flex;
  justify-content: center;
}
.icon--hobby i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border: 2px solid #4dabf7;
  color: #4dabf7;
}
.hb-icons {
  text-align: center;
  width: 70px;
}

.icon--hobby p {
  color: gray;
  margin: 10px 0;
  font-size: 12px;
}
.expskill {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.non-exp {
  background: #868e96;
}

/* <!-- Certificate --> */

.certificate .section-title {
  font-size: 22px;
}
.content1 {
  border-right: 2px solid #d6c08d;
}
.cont--1,
.cont-1 {
  padding-top: 40px;
}
.cont-2 {
  padding-top: 40px;
  border-top: 2px solid #d6c08d;
}

/* Project */
.project--date span {
  width: 50px;
  height: 20px;
  text-align: center;
  display: inline-block;
  background-color: #4dabf7;
  color: #fff;
  border-radius: 5px;
}
table td {
  border-top: 2px solid #adb5bd;
}
/* font project */
td {
  font-size: 18px;
}
.project--info h2 {
  font-size: 20px;
  color: #868e96;
}
#project img {
  width: 300px;
}

/* Footer */

footer {
  margin: auto;
  margin-bottom: 40px;
}
/* footer link */
.footer-link {
  text-align: center;
}
.footer-link i {
  font-size: 24px;
}
.footer--icon {
  color: #4dabf7;
  margin: 20px;
}

.footer-links a:link,
.footer-links a:hover,
.footer-links a:visited {
  color: #868e96;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
}
