@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }
  .nav-info-name {
    display: none;
  }
  .nav-container {
    display: flex;
    justify-content: center;
  }
  .project td {
    font-size: 12px;
  }
  .project h2 {
    font-size: 14px;
  }
  #project img {
    width: 200px;
    height: auto;
  }
  .footer-links a:link,
  .footer-links a:hover,
  .footer-links a:visited {
    font-size: 14px;
  }
  .footer-link i {
    font-size: 14px;
  }
}
